html {
  font-size: $base-font;
  font-family: sans-serif;
  @include small {
    font-size: 25px;
  }
  @include screen {
    font-size: 28px;
  }
}

  body {
    overflow: hidden;
    backgrond: white;
    transition: background 5s;

    &.nuked {
      transition-delay: 1s;
      transition: background .5s;
      background: black;
    }
  }

  .app {
    background: transparent;
    margin: 0 auto;
    max-width: $game-width;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    &__view {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__animated-area {
      top: 30vh;
      @include screen {
        top: none;
        bottom: 10%;
      }
    }
  }

@include screen {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app {
    width: 100%;
    max-width: 800px;
    max-height: 500px;
  }
}

.explosion {
  display: block;
  position: absolute;
  z-index: 10;
  background: url(../assets/images/explosion.png);
  background-size: 100% 100%;
  animation: explode .2s;
  animation-timing-function: linear;

  @keyframes explode {
    100% { transform: scale(3); }
  }
}

.bullet {
  border-radius: 50%;
  background: black;
  position: absolute;
}

.score {
  $_up-position: 50px;
  $_up-time: 800ms;
  z-index: 11;
  font-weight: bold;
  text-align: center;

  color: $score-color;
  animation: up 1 $_up-time;
  transform: translateY(-$_up-position);

  @keyframes up {
    0% { transform: translateY(0); }
    50%,
    100%
    { transform: translateY(-$_up-position); }

  }
}