:root {
  --speed: 12000ms;
}

html {
  font-size: $base-font;
  @include small {
    font-size: 25px;
  }
  @include screen {
    font-size: 28px;
  }
}


  body {
    background: black;
  }

  .app {
    background: white;;
    margin: 0 auto;
    max-width: $game-width;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    transition: background .5s;
    &--nuke {
      background: black;
    }

    &__view {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__animation-area {
      top: 30vh;
      @include screen {
        top: none;
        bottom: 10%;
      }
    }
  }

  @include screen {
      body {
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .app {
        width: 100%;
        max-width: 800px;
        max-height: 500px;
      }
    }