:root {
  --speed: 12000ms;
}

html {
  font-size: $base-font;
  @include small {
    font-size: 25px;
  }
  @include screen {
    font-size: 28px;
  }
}


  body {
    background: black;
    overflow: hidden;
  }

  .app {
    background: white;;
    margin: 0 auto;
    max-width: $game-width;
    height: 100vh;
    position: relative;
    overflow: hidden;
  
    &--nuke {
      transition: background .5s;
      background: black;
    }

    transition: background 5s;

    &__view {
      position: absolute;
      width: 100%;
      z-index: 1;
    }

    &__animation-area {
      top: 30vh;
      @include screen {
        top: none;
        bottom: 10%;
      }
    }
  }

@include screen {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .app {
    width: 100%;
    max-width: 800px;
    max-height: 500px;
  }
}

.explosion {
  display: block;
  position: absolute;
  z-index: 10;
  background: url(../assets/images/explosion.png);
  background-size: 100% 100%;
  animation: explode .2s;
  animation-timing-function: linear;


  @keyframes explode {
    100% { transform: scale(3); }
  }
}

.bullet {
  border-radius: 50%;
  background: black;
  position: absolute;
}