$score-color: green;
$alert-color: red;

$base-font: 20px;
$small-font: 0.75rem;
$medium-font: 1.4rem;
$big-font: 1.8rem;

$game-width: 320px;

%small-font {
	font-size: $small-font;
}

%medium-font {
	font-size: $medium-font;
	font-weight: bold;
}

%big-font {
	font-size: $big-font;
	font-weight: bold;
}

$slow-blinking-duration: 1.25s;
$fast-blinking-duration: .5s;

%blinking {
	animation: blinking $fast-blinking-duration infinite;
	animation-timing-function: linear;

	@keyframes blinking {
		50% {
	    opacity: 0;
	  }
	}
}

$screen-breakpoint: 700px;


@mixin screen {
	@media (min-width: #{$screen-breakpoint}) {
		@content;
	}
}