$score-color: #009F2E;
$alert-color: rgb(255, 0, 0);

$pale-alert-color: rgba($alert-color, 0.5);

$base-font: 20px;
$small-font: 0.75rem;
$medium-font: 1.4rem;

$medium-font-immutable: $base-font * 1.4;

$big-font: 2rem;

$game-width: 600px;

%small-font {
	font-size: $small-font;
}

%medium-font {
	font-size: $medium-font;
	font-weight: bold;
}

%big-font {
	font-size: $big-font;
	font-weight: bold;
}

$slow-blinking-duration: 1.25s;
$fast-blinking-duration: .5s;

%blinking {
	animation: blinking $fast-blinking-duration infinite;
	animation-timing-function: linear;

	@keyframes blinking {
		50% {
	    opacity: 0;
	  }
	}
}


  %path {
    position: absolute;
    bottom: 0;
    width: 400%;
    animation: var(--speed) moving infinite;
    animation-timing-function: linear;
    height: 80px;
  }
    
  @keyframes moving {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
  }


$small-breakpoint: 450px;
$screen-breakpoint: 700px;

@mixin small {
	@media (min-width: #{$small-breakpoint}) {
		@content;
	}
}


@mixin screen {
	@media (min-width: #{$screen-breakpoint}) {
		@content;
	}
}