$score-color: green;
$alert-color: red;
$medium-font: 40px;
$big-font: 60px;

%medium-font {
	font-size: $medium-font;
}

%big-font {
	font-size: $big-font;
	font-weight: bold;
}

%blinking {
	animation: blinking 1.5s infinite;
	animation-timing-function: linear;

	@keyframes blinking {
		50% {
	    opacity: 0;
	  }
	}
}
