.explode {
	&-enter-active {
		transition: transform .34s;
		transform: scale(3);
	}

	&-enter {
		transform: scale(1);
	}
}

.fade {
	&-enter-active, &-leave-active {
	  transition: opacity .2s;
	}
	&-enter, &-leave-to {
	  opacity: 0;
	}
}

.arrive {
	&-enter-active {
		transition: transform .5s;
		transform: translateX(0px);
	}

	&-enter {
		transform: translateX(300px);
	}
}
